:root {
  --cinza: #11013f;
  --vermelha: #000000;
  --vermelha-escura: #af303f;
  --branca: #dcccfc;
  --luz: rgb(231, 135, 255);
}

body {
  align-items: center;
  background: linear-gradient(45deg, #ff94ed 0%,#000fdb 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--branca);
  margin-bottom: 20px;
  font-size: 2rem;
  background: linear-gradient(45deg, #6826be 0%,#6400b6 100%);
}

.teclado {
  background: linear-gradient(to bottom, #9c5af1 0%,#1b005a 100%);
  box-shadow: 6px 8px 0 6px #080101, 10px 10px 10px #0a078b;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: var(--branca);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--vermelha);
  border: 4px solid  var(--vermelha);
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}
